
<ul>
  {% for paper in site.papers %}

      <li>
      {{ paper.author }}
      ({{ paper.year }}).
      {{ paper.title }}.
      In
      {% case paper.paper-type %}
        {% when "inproceedings" %}
          <i>{{ paper.booktitle }}</i>
        {% if paper.address %}
          , {{paper.address}}
        {% endif %}
        {% if paper.pages %}
          , pages {{paper.pages}}
        {% endif %}
        {% when "article" %}
            <i>{{ paper.journal }}</i>,
            {% if paper.volume %}{{ paper.volume }}{% if paper.number %}({{ paper.number }}){% endif %}.{% endif %}
            {% if paper.article%}Article {{ paper.article}}.{% endif %}
      {% endcase %}
      {% if paper.doc-url %}
        <a href="{{paper.doc-url}}">[pdf]</a>
      {% endif %}
      {% if paper.code-url %}
        <a href="{{paper.code-url}}">[code]</a>
      {% endif %}
      </li>

  {% endfor %}
</ul>
