<ul>
  {% for people in site.data.team.team %}
    {% if people.completed == include.completed & people.type == include.type %}
      <li>
      <b>{{ people.name }}</b> ({{ people.start }}{% if people.end %}&mdash;{{ people.end }}{% endif %})
      <ul>
        <li>{{ people.degree }}{% if people.co-supervisor %}; co-supervised with {{ people.co-supervisor }}{% endif %}</li>
        {% if people.thesis-title%}
        <li> Thesis: <a href="{{ people.thesis-url }}">{{ people.thesis-title }}</a> </li>
        {% endif %}
        {% if people.current %}
        <li>{{ people.current }}</li>
        {% endif %}
      </ul>
      </li>
    {% endif %}
  {% endfor %}
</ul>
